#myChart {
    padding-left: 220px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
    
}

.controls {

    margin-left: 250px;
    margin-bottom: 20px;
}

.box1 {

    position: relative;
    width: 300px;
    height: 140px;
    padding-left: 7px;
    top: 7px;
    left: 255px;

    border-radius: 10px;
    border: 5px solid rgb(242, 231, 255);
    box-shadow: 5px 7px 6px rgb(187, 187, 187);
    background-color: rgb(242, 231, 255);
    margin: 0;

    text-align: left;
    font-size: 10.5px;
}

.box2 {

    position: fixed;
    width: 200px;
    height: 32px;
    top: 28px;
    left: 630px;

    border-radius: 10px;
    border: 5px solid rgb(242, 231, 255);
    box-shadow: 4px 4px 4px rgb(187, 187, 187);
    background-color: rgb(242, 231, 255);
    margin: 0;

    text-align: center;
    font-size: 8px;
}

.box3 {

    position: fixed;
    width: 200px;
    height: 32px;
    top: 81px;
    left: 630px;

    border-radius: 10px;
    border: 5px solid rgb(242, 231, 255);
    box-shadow: 4px 4px 4px rgb(187, 187, 187);
    background-color: rgb(242, 231, 255);
    margin: 0;

    text-align: center;
    font-size: 8px;
}

.box4 {

    position: fixed;
    width: 200px;
    height: 32px;
    top: 135px;
    left: 630px;

    border-radius: 10px;
    border: 5px solid rgb(242, 231, 255);
    box-shadow: 4px 4px 4px rgb(187, 187, 187);
    background-color: rgb(242, 231, 255);
    margin: 0;

    text-align: center;
    font-size: 8px;
}

.box5 {

    position: fixed;
    width: 200px;
    height: 140px;
    padding-left: 7px;
    top: 26px;
    left: 910px;

    border-radius: 10px;
    border: 5px solid rgb(242, 231, 255);
    box-shadow: 5px 7px 6px rgb(187, 187, 187);
    background-color: rgb(242, 231, 255);
    margin: 0;

    text-align: center;
    font-size: 9.5px;
}

.doughnut { 
    border: 13px solid rgb(120, 41, 223);
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: auto;
}